
-- 18. Store Management & Status
ALTER TABLE public.stores ADD COLUMN IF NOT EXISTS status text DEFAULT 'active';

-- 19. Barcode Library
CREATE TABLE IF NOT EXISTS public.generated_barcodes (
    id uuid DEFAULT uuid_generate_v4() PRIMARY KEY,
    store_id uuid REFERENCES public.stores(id) ON DELETE CASCADE,
    code text NOT NULL,
    is_assigned boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(store_id, code)
);

-- 20. Store Deletion OTC
ALTER TABLE public.stores ADD COLUMN IF NOT EXISTS deletion_otc text;
ALTER TABLE public.stores ADD COLUMN IF NOT EXISTS deletion_otc_expiry timestamp with time zone;

